<h1 class="mb-5">User</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card rounder p-3 border-0 shadow-sm">
      <label for="driverTypeSelect" class="mb-2">Client</label>
      <select id="driverTypeSelect" class="form-select appearance-none">
        <option value="full-time">All</option>
        <option value="part-time">Type 1</option>
        <option value="contractor">Type 2</option>
      </select>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card rounder p-3 border-0 shadow-sm">
      <div class="mb-2">Months</div>
      <div class="d-flex px-3 overflow-auto">
        <button
          *ngFor="let month of months"
          class="btn m-2 btn-outline-secondary"
        >
          {{ month }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex mt-3 gap-4" style="width: 100%">
  <div style="max-width: 300px; min-width: 250px">
    <app-counter-card
      *ngFor="let item of countCard"
      [count]="item.count"
      [text]="item.label"
    ></app-counter-card>
  </div>
  <div class="w-100">

    <div class="row">

    <div class="row">
      <div class="col-12 p-3">
        <div class="card p-2 w-100 rounder border-0 shadow-sm">
          <h6>Client Trips Each Month</h6>
        <apx-chart
          [series]="chart4.series"
          [chart]="chart4.chart"
          [xaxis]="chart4.xaxis"
          [title]="chart4.title"
        ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
