* {
  // For Webkit browsers like Chrome, Safari, Opera
  &::-webkit-scrollbar {
    width: 12px; // size of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // color of the track
  }

  &::-webkit-scrollbar-thumb {
    background: #dcdcdc; // color of the thumb
    &:hover {
      background: #555; // color when hovered
    }
  }

  // For Firefox
  scrollbar-width: thin; // "auto" or "thin" or "none"
  scrollbar-color: #d0d0d0 #f1f1f1; // thumb and track color

  // For Internet Explorer and Edge
  -ms-overflow-style: auto; // "auto" or "scrollbar" or "none"
}
