<nav class="sidebar">
  <div class="">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/driver-info">
          Driver Info
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/users">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/owner">
          Owner
        </a>
      </li>

    </ul>
  </div>
</nav>
<div class="fake-sidebar">

</div>
